
project4/.DS_Store
sshstuff/remote/points
sshstuff/remote/mbox
sshstuff/remote/hw1.results
sshstuff/remote/.viminfo
sshstuff/remote/.ssh/authorized_keys
sshstuff/remote/.lesshst
sshstuff/remote/.bash_history
project5/.DS_Store
